<section class="px-6 max-w-prose mx-auto gap-5 grid grid-cols-1" style="padding-top: 48px;">
  <div class="blog-title flex flex-col h-36 items-center justify-center" style="align-items: start;">
    <div class="title-bg" style="margin-left: -16px; border-radius: 24px; position: absolute; z-index: -1; width: 96%; max-width: 640px; height: 14%; background-image: url('https://www.helloimg.com/images/2022/07/01/ZMNmBh.jpg'); 
    background-size:cover; opacity: 0.09; background-position: center; box-shadow:0 0 10px 10px var(--c-bg) inset;"></div>
    <h1 class="site-title text-4xl leading-relaxed" style="font-weight: bold;">
      🏔️ <%= config.title %>
    </h1>
    <p class="text-gray-500 mt-2">
      <%= config.subtitle %>
    </p>

  </div>
  <% var last_year = ''; %>
  <div style="margin-top: 14px; margin-bottom: 2px;">
    <span class="text-xl">💭 </span>
    <span class="font-bold text-xl" style="font-family: 'Noto Serif SC', serif;font-weight: 1000; text-decoration: underline;text-decoration-color: #1E88E5;">
      Recent Posts
    </span>
  </div>

  <% page.posts.each(function (post, index) { %>
    <% var cur_year = post.date.year(); %>
    <% if(last_year !== cur_year){ %>
      <div class="relative pointer-events-none" style="display: none;">
        <span class="text-9xl opacity-10 absolute -left-11 -top-6 font-bold"><%- cur_year %></span>
      </div>
    <% last_year = cur_year; } %>
    <a style="<%- '--stagger:' + index %>" href="<%- url_for(post.path) %>" data-animate>
      <header>
        <h3>
          <%- post.title %>
        </h3>
      </header>
      <section class="text-gray-400 my-2 text-sm time">
        <p class="line-clamp-4">
          <% if (post.excerpt) { %>
            <div class="py-2" style="font-size: .8rem;">
              <%- post.excerpt %>
            </div>
          <% } %>
        </p>
        <p class="line-clamp-4" style="font-size: .8rem;">
          <%- date(post.date, 'MMM DD') %>
          ·
          <%= min2read(post.content) %> min
        </p>
      </section>
    </a>
  <% }) %>
  <ul>
    <% if (page.prev){ %>
        <li style="text-align: left;"><a href="<%- config.root %><%- page.prev_link %>">&larr;  上一页</a></li>
    <% } %>
    <% if (page.next){ %>
        <li style="text-align: right;"><a href="<%- config.root %><%- page.next_link %>">下一页  &rarr;</a></li>
    <% } %>
  </ul>
</section>
